# Node dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
dist-ssr/
.next/
out/

# Environment variables
.env
.env.*
*.local

# Firebase / secrets
server/serviceAccount.json
firebase-adminsdk*.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
